<div class="relative w-full">
  <%= image_tag "battle.png", alt: "たいきょくがめん", class: "w-full" %>

  <div class="absolute top-[calc(50%+10px)] left-1/2 -translate-x-1/2 -translate-y-1/2 w-1/2">
    <%= image_tag "onegaishimasu.png", alt: "おねがいします", class: "w-full h-auto" %>
  </div>
</div>
